<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	
	<bean id="duke" class="spring.in.action.springidol.Juggler">
		<constructor-arg value="15" />
	</bean>
	<bean id="sonnet29" class="spring.in.action.springidol.Sonnet29" />
	<bean id="poeticDuke" class="spring.in.action.springidol.PoeticJuggler">
		<constructor-arg value="15" />
		<constructor-arg ref="sonnet29" />
	</bean>
	<bean id="theStage" class="spring.in.action.springidol.Stage" 
			factory-method="getInstance" />
	<bean id="tiket" class="spring.in.action.springidol.Stage"  scope="prototype"/>
	<bean id="auditorium"
			class="spring.in.action.springidol.Auditorium"
			init-method="turnOnLights"
			destroy-method="turnOffLights" />

	
	<bean id="saxophone" class="spring.in.action.springidol.Saxophone" />
	<bean id="piano" class="spring.in.action.springidol.Piano" />
	
	<bean id="kenny" class="spring.in.action.springidol.Instrumentalist">
		<property name="song" value="Jingle Bells" />
		<property name="instrument">
			<bean class="spring.in.action.springidol.Saxophone" />
		</property>
	</bean>
	
	<bean id="hank" class="spring.in.action.springidol.OneManBand">
		<property name="instruments">
			<list>
				<ref bean="gui/>
			</list>
		</property>
	</bean>
	
</beans>
